 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Active Grids celebrates active transportation. Active transportation includes walking, biking, scootering, busing, metroing, and any other non-car transportation options which traverse the most connected and forward-thinking cities today.</p>
                </div>
                <div class="col-lg-4">
                    <p>We care about:</p>
                    <ul>
                        <li>Pride in active transportation.</li>
                        <li>Promoting a fun and joyful active transit.</li>
                        <li>Connecting and empowering active transit users.</li>
                    </ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.facebook.com/ActiveGrids" class="btn btn-lg btn-outline">
                        <i class="fa fa-facebook"> Like us on Facebook</i>
                    </a>
                </div>
            </div>
        </div>
    </section>